/* ----------- Globals ----------- */
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
}
body {
	padding: 0;
}
#page {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	left: 0;
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
}
ul, ol {
	margin: 11px 0;
	padding-left: 40px;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* Header styles */
#header {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
#nav {
    margin-bottom: 0;
}
#nav .navbar-header {
	float: none;
}
#nav .menu-toggle, #nav .sidebar-toggle {
	display: inline !important;
	padding: 5px 12px;
}
#nav .menu-toggle {
	float: left;
	margin-right: 8px;
	margin-left: 15px;
}
#nav .sidebar-toggle {
	float: right;
	margin-right: 15px;
	margin-left: 8px;
}
#nav .brand-image {
	text-align: center;
	width: 220px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 0;
	display: block;
	float: none;
}
#nav .brand-image img {
	margin: 0;
	padding: 0;
	border: none 0;
	height: 40px;
	width: auto;
}
#header .module .module_content, #footer .module .module_content {
	font-weight: normal;
}
/* Menu styles */
.navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
}
#wrapper {
	position: relative;
	width: 100%;
}
#wrapper.menu-open, #wrapper.sidebar-open, #wrapper.sidebar-open #page {
	overflow: hidden;
}
#menu, #sidebar {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 100%;
	left: -85%;
	min-height: 100%;
	padding: 1em;
	-webkit-transition: left 0.3s ease, right 0.3s ease;
	transition: left 0.3s ease, right 0.3s ease;
}
#sidebar {
	left: 100%;
	right: -85%;
	display: none;
}
#wrapper.menu-open #page {
	left: 85%;
}
#wrapper.sidebar-open #page {
	left: -85%;
}
#wrapper.menu-open #menu {
	border-right-width: 1px;
	border-right-style: solid;
	right: 15%;
	left: 0;
}
#wrapper.sidebar-open #sidebar {
	display: block;
	border-left-width: 1px;
	border-left-style: solid;
	left: 15%;
	right: 0;
}
#menu a {
	display: block;
}
#menu .menu-icon {
	float: right;
	display: block;
}
#menu .menu-icon span {
	float: left;
	clear: left;
	width: 18px;
	border-bottom: 1px solid #ccc;
	margin: 3px 0;
}
/* Footer styles */
#footer {
	margin-top: 1em;
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
#copyright {
	text-align: center;
	padding: .4em;
	margin: 0;
}
/* Content styles */
.module {
	padding: .4em 0;
}
.page-header h2 {
	line-height: 1;
}
/* ----------- PForm ----------- */
.pf-form div.pf-element.pf-full-width .pf-full-width {
	padding-right: .2em; /* Keep padded inputs from pushing out of their box. */
}
.pf-form div.pf-element .pf-label, .pf-form div.pf-element .pf-note {
	float: none;
	width: auto;
	display: block;
	margin-bottom: .1em;
}
.pf-form div.pf-element .pf-group {
	margin-left: 0;
	display: block;
}
.pf-form div.pf-element .pf-field.pf-full-width {
	margin-left: 0;
}
.pf-form div.pf-buttons {
	padding-left: 0;
}
/* ----------- jQuery UI ----------- */
.ui-tabs .ui-tabs-panel, .ui-dialog .ui-dialog-content {
	padding: .5em 0 !important;
}
.ui-dialog {
	width: auto !important;
	left: 0 !important;
	top: 0 !important;
}
/* ----------- PGrid ----------- */
.ui-pgrid-table-viewport {
	height: auto !important;
}
.ui-pgrid-table-container {
	position: static !important;
	overflow: visible !important;
}
.ui-pgrid-table {
	white-space: normal !important;
}